.cardContainer {
  display: flex;
  margin: 30px 0px 30px 0px;
  width: 100%;
  height: auto;
}
.cardContainer > * {
  flex: 1;
}
.column {
  display: flex;
  position: relative;
  align-items: center;
}

.data {
  background: #7b4f35;
  height: 80%;
  width: 100%;
  padding: 15px 15px 15px 30px;
  margin: 10px 10px 10px 0px;
  border-radius: 0px 10px 10px 0px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.512);
}
@font-face {
  font-family: "MiFuente"; /* Nombre que utilizarás para referenciar la fuente */
  src: url("../../fonts/MiFuente.otf") format("opentype"); /* Ruta a tu archivo de fuente .otf */
}
.data p {
  /* Estilos para los elementos p dentro del contenedor de los datos */
  margin: 5px 0; /* Ejemplo: margen superior e inferior de 5px */
  color: #ffffff; /* Ejemplo: color del texto */
  font-size: 14px; /* Ejemplo: tamaño de fuente */
  /* Agrega más estilos según tus preferencias */
  font-family: "Lucida Sans";
}

.containerImage {
  display: flex;
  flex-direction: column; /* Alinear elementos verticalmente */
  align-items: center; /* Centrar horizontalmente */
  justify-content: center;
  background: #433f3e;
  padding: 10px;
  height: 100%;
  margin: 0px 0px 0px 0px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.512);
  animation: myAnim 1s ease 0s 1 normal forwards;
}
@keyframes myAnim {
  0% {
    transform: scale(0.5);
    opacity: 0; /* Comienza con opacidad 0 */
  }

  100% {
    transform: scale(1);
    opacity: 1; /* Llega a opacidad 1 al final de la animación */
  }
}
.image {
  width: 140px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #fefefe;

}

.api {
  display: flex;
  position: absolute;
  background-color: #fefefe;
  align-items: center;
  justify-content: center;
  top: 5px;
  right: 0px;
  font-size: 14px;
  font-family: "Lucida Sans";
  width: 30px;
  height: 20px;
  border-radius: 5px  0px 0px 5px;
}
