@font-face {
  font-family: "The-Bold"; /* Nombre de la fuente */
  src: url("../../fonts/THEBOLDFONT.ttf") format("truetype"); /* Ruta al archivo de fuente */
}
@font-face {
  font-family: "Caviar-bold"; /* Nombre de la fuente */
  src: url("../../fonts/CaviarDreams_Bold.ttf") format("truetype"); /* Ruta al archivo de fuente */
}
@font-face {
  font-family: "Caviar"; /* Nombre de la fuente */
  src: url("../../fonts/CaviarDreams.ttf") format("truetype"); /* Ruta al archivo de fuente */
}
@font-face {
  font-family: "Caviar-Bold-Italic"; /* Nombre de la fuente */
  src: url("../../fonts/CaviarDreams_BoldItalic.ttf") format("truetype"); /* Ruta al archivo de fuente */
}
@font-face {
  font-family: "Caviar-Italic"; /* Nombre de la fuente */
  src: url("../../fonts/CaviarDreams_Italic.ttf") format("truetype"); /* Ruta al archivo de fuente */
}
select {
  font-family: "Caviar-bold";
  padding: 5px;
  border-radius: 10px;
}
button {
  font-family: "Caviar-bold";
}
input {
  font-family: "Caviar-bold";
}
.container {
/*   display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px 0px;
  grid-auto-flow: column;
  grid-template-areas:
    "."
    "."
    "."
    "."
    "."
    "."; */

  background-color: #7b4f35;
  padding: 10px;
  border-radius: 20px;
  font-family: "Caviar-bold", sans-serif;
}

.SearchBar {
  display: flex;
  justify-content: space-between;
}
.filters{
    display:flex;
    margin: 10px 0px 20px 0px;
    align-items: center;
}
.itemsPerPage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.itemsPerPage > div {
  display: flex;
  flex-direction: row;
  background-color: #e8ddcb;
  padding: 15px 15px 0px 15px;
  border-radius: 10px 10px 0px 0px;
  height: 50px;
}
.Datalist {
  align-items: center;
}

.SelectButton {
  align-items: flex-end;
}
.buttonPerPage {
  display: flex;
  width: 30px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Caviar-bold", sans-serif;
  color: #ccc;
  background-color: #7b4f35;
  border: none;
  border-radius: 5px 5px 0px 0px;
  padding: 5px;
  margin: 5px 5px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.39) 0px 20px 30px;
}
.buttonPerPage:disabled {
  background-color: #b68264;
}
.buttonPerPage:hover {
  background-color: #b68264;
  padding: 10px;
  transition: 500ms linear;
}
.buttonPerPage:not(:hover) {
  transition: 500ms linear;
}

.itemsPerPageEnd {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.itemsPerPageEnd > div {
  display: flex;
  flex-direction: row;
  background-color: #e8ddcb;
  padding: 0px 15px 15px 15px;
  border-radius: 0px 0px 10px 10px;
  height: 50px;
}

.SelectButtonEnd {
  align-items: flex-start;
}
.buttonPerPageEnd {
  display: flex;
  width: 30px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Caviar-bold", sans-serif;
  color: #ccc;
  background-color: #7b4f35;
  border: none;
  border-radius: 0px 0px 5px 5px;
  padding: 5px;
  margin: 0px 5px 5px 5px;
  box-shadow: rgba(0, 0, 0, 0.39) 0px 20px 30px;
}
.buttonPerPageEnd:disabled {
  background-color: #b68264;
}
.buttonPerPageEnd:hover {
  background-color: #b68264;
  padding: 10px;
  transition: 500ms linear;
}
.buttonPerPageEnd:not(:hover) {
  transition: 500ms linear;
}
